extends ../layouts/login.pug
include ../mixins/alert.pug 

block content
    +alert-error(1500)
    .row.justify-content-center
        .col-8
            form(action= "/admin/auth/loginPost" method= "post")
                .form-group(class= "text-center")
                    h1 Đăng nhập
                .form-group
                    label() Email
                    input.form-control(type="text", placeholder="Email", id="email", name="email" required)
                .form-group
                    label() Mật khẩu
                    input.form-control(type="password", placeholder="Mật khẩu", id="password", name="password" required)
                .form-group(class= "text-center")
                    button(class= "btn btn-primary justify-content-center" type= "sumbit") Đăng nhập
