include ../mixins/alert.pug

doctype html
head
  title #{title}
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/login.css')
form(action="/user/resetPassword", method= "post")
  .container
    +alert-danger(2000) 
    h4.pb-3 #{titlePage}
    .form-group
      label(for="password") Mật khẩu mới
      input.form-control(type='password' name= "password" required)
    .form-group
      label(for="OTP") Xác nhận mật khẩu
      input.form-control(type='password' name= "confirmPassword" required)
    .form-group.text-center
      button.btn.btn-primary.mt-4(type="submit") Xác nhận