include ../mixins/alert.pug

doctype html
head
  title #{title}
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/login.css')
form(action="/otp/verifyOTP", method= "post")
  .container
    +alert-danger(2000) 
    h4.pb-3 #{titlePage}
    .form-group
      label(for="email") Email
      input.form-control(type='email' name= "email" value = email readonly)
    .form-group
      label(for="OTP") Nhập OTP
      input.form-control(type='text' name= "otp" placeholder='Nhập mã OTP' required)
    .form-group.text-center
      button.btn.btn-primary.mt-4(type="submit") Xác nhận

    p.mb-0.mt-4.text-center
      a.link(href='/user/login') Quay lại trang đăng nhập